body {
margin: 0;
padding: 0;
font-family: sans-serif;
}
.navbar{
    overflow: hidden;
    background:chocolate;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    font-family: 'Poppins', sans-serif;
    color:chocolate;
}
.container{
    width: 80%;
    margin: auto;
}
ul{
    float: left;
    padding: 0;
    text-align: right;
    display: flex;
    justify-content: space-around;
    width: 30%;
}
ul a{
    margin: 15px;
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 22px;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}
table{
    text-align: left;
    width: 90%;
    padding: 15px;
    border: 2px solid black;
    position: relative;
    margin: auto;
    margin-top: 20px;
    background-color:lightgray;
    box-shadow:4px 5px rgba(0,0,0,0.2),6px 10px rgba(0,0,0,0.19);
    border-radius:10px;
}
td{
    text-align: left;
    width: 6px;
    padding: 15px;
    border-left:1px solid lightslategray;
    border-right:1px solid lightslategray;
    border-bottom:1px solid lightslategray;
    background-color:lightgray;
}
th{
    border-bottom:1px solid lightslategray;
    border-top:none;
    font-weight:bolder;
    padding: 10px;
    text-align: center;
}
tr:nth-child(even) {background-color:white;}
.header{
    text-align: center;
}
form{
    position:center;
    margin:auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
h1{
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.text{
    font-size: 20px;
    font-family: sans-serif;
    font-weight:lighter;
    text-align: center;
}